/* Як вирівняти нумерований список з параграфом зверху?
    Чи потрібно робити загальну ширину сторінки 1400 пікселів,бо в мене величезні білі відступи з бокві*/

body {
    width: auto;
}
.header-menu {

    background-color: rgb(255, 255, 255);
    list-style-type: none;
    text-align: center;
    
   

}


.header-navigation-list {
    /*display: inline-block;
    padding-right: 72px;*/
    display: inline-block;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
    
    /*padding: 32px 0px;
    justify-content: center;
    align-items: center;
    row-gap: 72px;*/


a {
  color: #000;
  text-decoration: none;
}
#header-navigation-item1 {
    /*display: inline-block;
    padding-right: 72px;*/
    display: inline-block;
    /*padding: 32px 0px;*/
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 36px;
}

#header-navigation-item2 {
    /*display: inline-block;
    padding-right: 72px;*/
    display: inline-block;
    /*padding: 32px 0px;*/
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 36px;
}
#header-navigation-item3 {
    /*display: inline-block;
    padding-right: 72px;*/
    display: inline-block;
    /*padding: 32px 0px;*/
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 36px;
}
#header-navigation-item4 {
    /*display: inline-block;
    padding-right: 72px;*/
    display: inline-block;
    /*padding: 32px 0px;*/
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 36px;
}
#header-navigation-item5 {
    /*display: inline-block;
    padding-right: 72px;*/
    display: inline-block;
    /*padding: 32px 0px;*/
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 36px;
    margin-right: 36px;
}

    

.background-image {
    background: #00BDC9;
    width: 1400px;
    margin: 0 auto;
}

img {
    display: block;
    width: 599px;
    height: 368px;
    margin: 92px auto;
    background: #00BDC9;
    justify-content: center;
    align-items: center;
}


h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    margin-top: 88px;
    margin-bottom: 40 px;
}
span {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    
}
.first-paragraph-block {
    display: block;
    width: 856px;
    margin: 0 auto;

}
.first-paragraph {
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 24px;
    padding-left: 0;
    
}

.numerated-list-block {
    display: block;
    width: 856px;
    margin: 0 auto;
    
   
}
.numerated-list {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
    margin-bottom: 40px;
    
        }

.list-of-rules-test {
    
        }



.down-button {

    background-color: #04959E;
    color: white;
    padding: 10px 24px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 88px;
    box-sizing: content-box;
    font-size: 24px;
   
}

#footer-text {
    text-align: center;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
